<!DOCTYPE html>
<html>
<head>
	<title>字体图标</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
	<span class="glyphicon glyphicon-search" aria-hidden="true"> 搜索</span>

	<button type="button" class="btn btn-default" aria-label="Left Align">
	  <span class="glyphicon glyphicon-align-left" aria-hidden="true"> <span>左对齐</span></span>
	</button>

	<button type="button" class="btn btn-default btn-lg">
	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
	</button>
</body>
</html>